<link rel="stylesheet" type="text/css" media="screen" href="/css/ui-lightness/jquery-ui-1.7.1.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/ui.jqgrid.css" />

<style>
html, body {
    margin: 0;
    padding: 0;
    font-size: 75%;
}
</style>



    <script type="text/javascript" src="/javascripts/jquery.js"></script>
 
	<script src="/js/i18n/grid.locale-en.js" type="text/javascript"></script>
	<script src="/js/jquery.jqGrid.min.js" type="text/javascript"></script>

   <script type="text/javascript" src="/javascripts/shipintheclouds.js"></script>
 
 
 
<div id="header">
    <table border="0">
        <tr>
            <td align="left">
                <div id="loading"></div>
                <div id="play"></div>
            </td>
            <td align="center">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
            </td>
            <td align="left">
                Search:<br/>
                <select id="field">
                    <option value="any">Any</option>
                    <option value="title_c">Title</option>
                    <option value="album_c">Album</option>
                    <option value="artist_c">Artist</option>
                </select>
                <input id="search_key"></input>
                <button type="button" id="search_button">Find</button>
            </td>
        </tr>
    </table>
        
</div> 
 
<div class="clear"></div> 
 
<div id="wrapper"> 
 
<div id="nav"> 
    <ul>
        <li>Upload</li>
        <li>About</li>
    </ul>
</div> 
 
 
<div id="content"> 
    <div id="results">
		<table id="grid"></table>
		<div id="pager"></div>
    </div>
</div> 
 
<div class="clear"></div> 
 
<div id="footer"></div> 
 
</div> 
 
