
<style>
html, body {
    margin: 0;
    padding: 0;
    font-size: 75%;
}
</style>


<%= jqgrid_stylesheets %> 
<%= jqgrid_javascripts %>


<script type="text/javascript" src="/javascripts/audio-player.js"></script>

<script type="text/javascript" src="/javascripts/shipintheclouds.js"></script>
 
 
 
<div id="header">
    <table border="0">
        <tr>
            <td align="left">
                <div id="loading"></div>
                <div id="play"></div>
				<div id="flashplay"></div>
            </td>
            <td align="center">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
            </td>
            <td align="left">
                Search:<br/>
                <select id="field">
                    <option value="any">Any</option>
                    <option value="title_c">Title</option>
                    <option value="album_c">Album</option>
                    <option value="artist_c">Artist</option>
                </select>
                <input id="search_key"></input>
                <button type="button" id="search_button">Find</button>
            </td>
        </tr>
    </table>
        
</div> 
 
<div class="clear"></div> 
 
<div id="wrapper"> 
 
<div id="nav"> 
    <ul>
        <li>Upload</li>
        <li>About</li>
    </ul>
</div> 
 
<div id="outer">
<script language="javascript">jQuery(gridInit);</script>
<table id="songs" class="scroll" cellpadding="0" cellspacing="0"></table> 
<div id="songs_pager" class="scroll" style="text-align:center;"></div>
</div> 

<div class="clear"></div> 
 
<div id="footer"></div> 
 
</div> 
 
