
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/shipintheclouds.js"></script>
 
 
 
<div id="header">
    <table border="0">
        <tr>
            <td align="left">
                <div id="loading"></div>
                <div id="play"></div>
            </td>
            <td align="center">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
            </td>
            <td align="left">
                Search:<br/>
                <select id="field">
                    <option value="Any">Any</option>
                    <option value="Title">Title</option>
                    <option value="Album">Album</option>
                    <option value="Artist">Artist</option>
                    <option value="Genre_s">Genre</option>
                </select>
                <input id="search_key"></input>
            </td>
        </tr>
    </table>
        
</div> 
 
<div class="clear"></div> 
 
<div id="wrapper"> 
 
<div id="nav"> 
    <ul>
        <li>Upload</li>
        <li>About</li>
    </ul>
</div> 
 
 
<div id="content"> 
    <div id="results">
    </div>
</div> 
 
<div class="clear"></div> 
 
<div id="footer"></div> 
 
</div> 
 
