
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/shipintheclouds.js"></script>
 
 
 
<div class="header">
    <div id="loading"></div>
    <div id="play"><p>Player goes here</p></div>
</div> 
 
<div class="clear"></div> 
 
<div class="wrapper"> 
 
<div class="nav"> 
    <select id="field">
        <option value="Any">Any</option>
        <option value="Title">Title</option>
        <option value="Album">Album</option>
        <option value="Artist">Artist</option>
        <option value="Genre_s">Genre</option>
    </select>
    <br/>
    <input id="search_key"></input>
</div> 
 
 
<div class="content"> 
    <div id="results">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
</div> 
 
<div class="clear"></div> 
 
<div class="footer">footer</div> 
 
</div> 
 
